footer {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: rgb(70, 70, 70);
  color: rgb(216, 216, 216);
  padding: 0.4em;
  text-align: center;
}

footer > a {
  text-decoration: none;
  color: rgb(216, 216, 216);
}

a:hover {
  color: black;
}